*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#B8B6AD;
}

.containner {
    width: 100%;
    height: 1180px;
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.containner img {
    width: 3000px;  
    height: 100%;
    animation: slide 50s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate(-5%, -12%);
    }
    25% {
        transform: translate(-20%, -8%);
    }
    50% {
        transform: translate(-8%, 5%);
    }
    75% {
        transform: translate(10%, 0%);
    }
    100% {
        transform: translate(-5%, -12%);
    }
}

.text img {
    width: 400px;
}

.text {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

