*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8B6AD;
    overflow: hidden;
}

.swiper {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    padding: 50px 0;
    margin-top: 20rem;
}

.swiper-slide {
    position: relative;
    width: 580px;
    /* aspect-ratio: 3/4; */
}

.swiper-slide img {
    display: block;
    width: 110%;
    height: 110%;
    object-fit: cover;
    border-radius: inherit;
    user-select: contain;
}

.text-container {
    position: absolute;
    top: 17%; /* อยู่ตรงกลางในแนวตั้ง */
    transform: translateY(-50%); /* ปรับให้อยู่ตรงกลางแนวตั้ง */
    width: 100%;
    z-index: 10; /* ให้อยู่เหนือ Swiper */
    pointer-events: none; /* ป้องกันการคลิก */
}


.text {
    position: absolute;
    width: 600px;/* ปรับขนาดภาพข้อความ */
    opacity: 0; /* ซ่อนข้อความเริ่มต้น */
    transition: opacity 0.3s ease-in-out; /* การเปลี่ยนสถานะที่นุ่มนวล */
    /* border: 1px solid red; */
}

.text-active {
    opacity: 1; /* แสดงภาพข้อความ */
}

/* ตัวอย่างตำแหน่งข้อความแนวนอน */
.text[data-slide="0"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="1"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="2"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}

.text[data-slide="3"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="4"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="5"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}

.text[data-slide="6"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="7"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="8"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}

.text[data-slide="9"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="10"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}
.text[data-slide="11"] {
    left: 50%; /* ตำแหน่งแนวนอนของสไลด์ 0 */
    transform: translate(-50%, -50%);
}

.swiper-pagination-bullet {
    background-color: #F5F0E5; /* สีของ Bullet */
    width: 12px;
    height: 12px;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #505A49; /* สี Bullet เมื่อ Active */
    opacity: 1;
}

.swiper-slide img.Artboard {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}
